doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        title Toasty.Chat
        //script(src="/googleanalytics.js")
        link(rel="stylesheet", href="/style.css")
        script(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
        //script(src="/markdown.min.js")
        script(src="/data.js")
        script(src="/config.js")
        script(src="/session.js")
        script(src="/client.js")
        link#scheme-link(rel="stylesheet", href="/schemes/solarized.css")

    body
        div#llama.hidden
        div#loginOverlay.hidden
            div#login
                form#login-form
                    label Enter nick and pass like this : nick#pass
                    input#nick(type="text",required,pattern="[a-zA-Z0-9_]{1,24}(#.+)?",autofocus, autocomplete="off",title="Nickname must consist of up to 24 letters, numbers, and underscores")
                    input(type="submit")

        nav#sidebar
            img(src="https://toastystoemp.com/public/settingsicon.png")#settingsicon.settingsicon
            #sidebar-content.sidebar-extra
                p
                    a#favLink(title="Favorite this channel")
                        img(src='https://toastystoemp.com/public/addFav.png')
                p
                    a#link(href='https://trello.com/b/HTT7LQW4/toasty-chat', target="_blank") Trello!
                h4 Settings
                p
                    input#auto-login(type="checkbox")
                    label(for="auto-login") Auto login
                p
                    input#joined-left(type="checkbox", checked)
                    label(for="joined-left") Join/left notify
                p
                    input#leave-warning(type="checkbox", checked)
                    label(for="leave-warning") Leave warning
                p
                    input#notifications(type="checkbox", checked)
                    label(for="notifications") Notifications
                p
                    input#sounds(type="checkbox", checked)
                    label(for="sounds") Sounds
                p
                    input#llamas(type="checkbox")
                    label(for="llamas") Llamas
                p
                    button#clear-messages Clear messages
                p
                    button#toggle-viewer Toggle viewer
                h4 Color scheme
                select#scheme-selector
                h4 Users online
                p (Click user to invite)
                div#userbox
                    ul#Users

        div#chatManager     
            div.chat
                article.container
                    #messagesToastyChat.messages

                footer#footer
                    .container
                        form#chatform
                            textarea#chatinputToastyChat(type="text", autocomplete="off", autofocus, data-autoresize)
            
            div.chat
                article.container
                    #messagesHackChat.messages
                
                footer#footer
                    .container
                        form#chatform
                            textarea#chatinputHackChat(type="text", autocomplete="off", autofocus, data-autoresize)